body {font-family: 'PT Sans', sans-serif;}
h1 {background-color:#248d3e; color:white; padding:1em; text-align: center; font-size: 3.5rem; font-weight: 700; margin:0 0 0.5em 0 !important;}
h1, h2, h3, h4 {font-family: 'PT Sans', sans-serif; margin: 0.5em 0;}
p {font-size:1.2rem; color:#555;}
p.intro {text-align: center;}
a {color:#248d3e;}
a:hover {opacity: 0.8;}

.center {text-align: center;}
.cell {margin-bottom: 2em;}

.quoted {margin:4em 5% 2em; width:90%;}
small {font-size: 90%; color:#777;}
small span.quote {font-style: italic; font-size: 1.2em;}

span.quote:before {
    content: "“";
    font-size: 60px;
    color: #bbb;
    line-height: 0;
    display: inline-block;
    margin: 0 6px 0 0;
    vertical-align: middle;
}
span.quote:after {
    content: " ”";
    font-size: 60px;
    color: #bbb;
    line-height: 0;
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

footer {text-align: center; background-color: #333; padding: 2em;}
footer p, footer h4, footer small {color:white;}

[type='text'], [type='email'] {width: 30%; min-width: 200px; margin-left:auto; margin-right: auto;}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #248d3e;
  color: #fefefe; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #248d3e;
    color: #fefefe; }
  .button.tiny {
    font-size: 0.6rem; }
  .button.small {
    font-size: 0.75rem; }
  .button.large {
    font-size: 1.25rem; }

a.button:hover, a.button:focus {
  text-decoration: none; }